

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

::selection {
    background-color: #bc9a1e77;
}

body{
    background-color: darkgreen;
}

.background {
    background-image: url('photo/lelion.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 110px;
    color: white; 
    margin: 10vh 0 0 0;
    font-family: 'Oswald', sans-serif;
    width: 100vw;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.titleAndButton{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0vh;
    width: 100%;
    margin-bottom: 10vh;
    margin-top: 13vh;  
}

.containerButtonAndUnder{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

input[type=submit]{
    color:white;
    background-color: black;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 150px;
}

.RDV > form {
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}

/*Partie RDV */

.Bouton + label {
    text-decoration: underline;
    color: white;
    width: 16vw;
    min-width: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.Bouton {
    display: none;
}
.Jaune + label {
    width: 16vw;
    min-width: 200px;
    padding: 20px;
    border-radius: 100px;
    background-color: #BC9A1E;
    text-align: center;
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.Fermer + label {
    width: 16vw;
    min-width: 200px;
    padding: 20px;
    border-radius: 100px;
    background-color: #292525;
    text-align: center;
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.RDV{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: column;
    top:0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background-color: #BC9A1E;
    z-index: 1;
    overflow: hidden;
    justify-content: space-around;
    border: 1px solid red;
}

#RDV[type="radio"]:checked ~ #RDVmenu {
    width: 40vw;
}

#RDVCLOSE[type="radio"]:checked ~ #RDVmenu{
    width: 0vw;
}

/* Partie Connection*/

.CONNEC{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: column;
    top:0;
    right: 0;
    width: 0vw;
    height: 100vh;
    background-color: #BC9A1E;
    z-index: 1;
    overflow: hidden;
    justify-content: space-around;
}

#CONNEC[type="radio"]:checked ~ #CONNECmenu{
    width: 40vw;
}

#CONNECCLOSE[type="radio"]:checked ~ #CONNECmenu{
    width: 0vw;
}

/* partie Tarif */

.TARIF{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: column;
    top:0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background-color: #BC9A1E;
    z-index: 1;
    overflow: hidden;
    justify-content: space-around;
}

#TARIF[type="radio"]:checked ~ #TARIFmenu{
    width: 40vw;
}

#TARIFCLOSE[type="radio"]:checked ~ #TARIFmenu{
    width: 0vw;
}


/* Partie Inscription */

.INSC{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: column;
    top:0;
    right: 0;
    width: 0vw;
    height: 100vh;
    background-color: #BC9A1E;
    z-index: 1;
    overflow: hidden;
    justify-content: space-around;
}

#INSC[type="radio"]:checked ~ #INSCmenu{
    width: 40vw;
}

#INSCCLOSE[type="radio"]:checked ~ #INSCmenu{
    width: 0vw;
}


/* Pour totu */
